<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div style="padding: 0px 0 15px 0px;">
		<span class="layui-breadcrumb" lay-separator="-"> <a href="#">仓库管理</a>
			<a><cite>入库管理</cite></a>
		</span>
</div>

<form class="layui-form" id="form-trade-query">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="tradeStatus" lay-verify="required" lay-filter="select-trade-query-trade-status">
                    <option value="">全部</option>
                    <option value="1">未检验</option>
                    <option value="5">已检验</option>
                    <option value="10">已确认</option>
                    <option value="15">已入库</option>
                </select>
            </div>


            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="number" name="tradeId" autocomplete="off"
                       class="layui-input">
            </div>
            <button class="layui-btn" id="bn-trade-query"><i class="layui-icon layui-icon-search"></i> 查询</button>
            <button type="button" class="layui-btn" id="bn-trade-add"><i class="layui-icon">&#xe608;</i> 新增</button>
        </div>
    </div>
</form>
<table id="info-trade-table" lay-filter="tradeTable"></table>
<!--操作栏-->
<script type="text/html" id="barDemo">
    <!--  laytpl 语法， d指数据，在这里指当前行数据 -->
    {{#  if(d.tradeStatus == 1 && d.tradeType==0){ }}
    <a class="layui-btn  layui-btn-xs" lay-event="trade_enter1"><i class="layui-icon layui-icon-delete"></i>
        检验</a>
    {{#  }else if(d.tradeStatus == 5 && d.tradeType==0){  }}
    <a class="layui-btn  layui-btn-xs" lay-event="trade_enter2"><i class="layui-icon layui-icon-delete"></i>
        确认</a>
    {{#  }else if(d.tradeStatus == 10 && d.tradeType==0){  }}
    <a class="layui-btn  layui-btn-xs" lay-event="trade_enter3"><i class="layui-icon layui-icon-delete"></i>
        入库</a>
    {{#  }else if(d.tradeStatus == 15 && d.tradeType==0){  }}
        已入库
    {{#  }  }}
</script>
<script src="/layui/layui.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/sweetalert-2.1.0.min.js"></script>
<script src="/js/common.js"></script>
<script th:inline="none">
    layui.use(['element', 'table', 'layer', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;


        var tradeTable = table.render({
            elem: '#info-trade-table',
            url: '/trade/comeList', //数据接口
            page: true,//显示分页条
            limits: [5, 10, 15, 20, 30],
            limit: 5,
            cols:
                [[ //表头
                    {
                        field: 'tradeId',
                        title: '单号',
                        align: 'center',
                    }, {
                        field: 'goodsName',
                        title: '商品名称',
                        align: 'center',
                    }, {
                        field: 'number',
                        title: '出/入库数量',
                        align: 'center',
                    }, {
                        field: 'tradeType',
                        title: '类型',
                        align: 'center',
                        width:80,
                        templet: function (d) {
                            if(d.tradeType==0){
                                return "入库";
                            }
                            if(d.tradeType==1){
                                return "出库";
                            }
                        }
                    }
                    , {
                        field: 'tradeStatus',
                        title: '状态',
                        align: 'center',
                        templet: function (d) {
                            if (d.tradeStatus == 1) {
                                return "未检验";
                            }
                            if (d.tradeStatus == 5) {
                                return "入库已检验";
                            }
                            if (d.tradeStatus == 10){
                                return "入库已确认";
                            }
                            if (d.tradeStatus == 15){
                                return "已入库";
                            }
                        }
                    }, {
                        align: 'center',
                        title: '操作',
                        toolbar: '#barDemo'
                    }

                ]]
        });

        table.on('tool(tradeTable)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'trade_enter1'){
                opr.ajaxWithConfirm({
                    title: "确认检验无误?",
                    url: '/trade/update/' + data.tradeId + '/5/'+data.goodsId+'/'+data.number,
                    method: 'post',
                    layer: layer,
                    layuiTableIns: tradeTable
                });
            }else if(layEvent === 'trade_enter2'){
                opr.ajaxWithConfirm({
                    title: "确定此操作吗?",
                    url: '/trade/update/' + data.tradeId + '/10/'+data.goodsId+'/'+data.number,
                    method: 'post',
                    layer: layer,
                    layuiTableIns: tradeTable
                });
            }
            else if(layEvent === 'trade_enter3'){
                opr.ajaxWithConfirm({
                    title: "确认入库?",
                    url: '/trade/update/' + data.tradeId + '/15/'+data.goodsId+'/'+data.number,
                    method: 'post',
                    layer: layer,
                    layuiTableIns: tradeTable
                });
            }
        });//监听工具条结束
        //监听select选择
        form.on('select(select-trade-query-trade-status)', function(data){
            $('#bn-trade-query').click();

        });
        $('#bn-trade-query').click(function() {

            //将表单参数封装为json对象
            var arr = $("#form-trade-query").serializeArray();
            var params = {};

            for (var i = 0; i < arr.length; i++) {
                params[arr[i].name] = arr[i].value;
            }

            //传递查询参数重载表格（内部为ajax请求）
            tradeTable.reload({
                where : params,
                page : {
                    curr : 1
                    //重新从第 1 页开始
                }
            });
            return false;
        });//查询结束
    });
</script>
</body>
</html>